# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/

# Mac/Linux/Windows
.DS_Store

# IDE
.idea/
.vscode/

# Generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata
